// Variables
$primary-color: #25D366;
$white-color: #fff;
$active-color: #007bff;
$box-shadow-color: rgba(0, 0, 0, 0.3);
$text-shadow-color: rgba(0, 0, 0, 0.7);
$whatsapp-btn-size: 60px;
$border-radius: 50%;
$indicator-size: 10px;
$carousel-caption-padding: 10px;

// Mixins
@mixin breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@mixin beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// Estilos generales
.margin-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// Estilos del botón WhatsApp
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: $whatsapp-btn-size;
  height: $whatsapp-btn-size;
  border-radius: $border-radius;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px $box-shadow-color;
  animation: breathe 2s ease-in-out infinite;

  i {
    color: $white-color;
    font-size: 24px;
    animation: beat 2s ease-in-out infinite;
    text-decoration: none;
  }
}

// Animaciones
@keyframes breathe {
  @include breathe;
}

@keyframes beat {
  @include beat;
}

// Estilos del carousel para pantallas pequeñas
@media (max-width: 768px) {
  .carousel-item {
    height: 30vh;
  }

  .carousel-caption {
    padding: $carousel-caption-padding;
    text-align: center;
    position: absolute;
    bottom: 25%;
    z-index: 10;
    color: $white-color;
    text-shadow: 0 1px 2px $text-shadow-color;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 20%;
    z-index: 15;
  }

}

.ratio-10x3 {
  --bs-aspect-ratio: 30%
}

@media (max-width: 1000px) {
  .ratio-10x3 {
    --bs-aspect-ratio: 40%
  }
}

// Estilos generales del carousel
.carousel-caption {
  position: absolute;
  bottom: 20%;
  z-index: 10;
  color: $white-color;
  text-shadow: 0 1px 2px $text-shadow-color;
}

.carousel-indicators {
  position: absolute;
  bottom: 10%;
  z-index: 15;

  button {
    width: $indicator-size;
    height: $indicator-size;
    background-color: $white-color;
    border-radius: $border-radius;
    border: none;
    opacity: 0.7;

    &.active {
      opacity: 1;
      background-color: $active-color;
    }
  }
}

// Estilos de la imagen del carousel
.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.container-logos {
  overflow: hidden;
  margin-top: 50px;
  .slider-logos {
    animation: slidein 15s linear infinite;
    white-space: nowrap;
    .logos {
      width: 75%;
      display: inline-block;
      margin: 10px 10px;
      .fab {
        width: calc(100% / 5);
        animation: fade-in 0.5s 
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}


.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: #676767;
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 0.75;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}
.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}